---
import "vanilla-cookieconsent/dist/cookieconsent.css";
---

<script>
    import * as CookieConsent from "vanilla-cookieconsent";

    document.documentElement.classList.add("cc--darkmode");

    CookieConsent.run({
        guiOptions: {
            consentModal: { layout: "box", position: "bottom left" },
            preferencesModal: { layout: "box" },
        },
        categories: {
            necessary: { readOnly: true },
            analytics: {},
        },
        language: {
            default: "pt",
            translations: {
                pt: {
                    consentModal: {
                        title: "Nós usamos cookies!",
                        description:
                            "Este site utiliza cookies para garantir a funcionalidade e analisar o tráfego de forma anônima. Você pode gerenciar suas preferências.",
                        acceptAllBtn: "Aceitar todos",
                        acceptNecessaryBtn: "Rejeitar todos",
                        showPreferencesBtn: "Gerenciar preferências",
                    },
                    preferencesModal: {
                        title: "Preferências de Cookies",
                        acceptAllBtn: "Aceitar todos",
                        acceptNecessaryBtn: "Rejeitar todos",
                        savePreferencesBtn: "Salvar preferências",
                        closeIconLabel: "Fechar",
                        sections: [
                            {
                                title: "Uso de Cookies",
                                description:
                                    "Utilizamos cookies para garantir a funcionalidade básica do site e para aprimorar sua experiência online.",
                            },
                            {
                                title: 'Cookies Essenciais <span class="pm__badge">Sempre Ativo</span>',
                                description:
                                    "Estes cookies são essenciais para o funcionamento correto do site.",
                                linkedCategory: "necessary",
                            },
                            {
                                title: "Cookies de Analytics",
                                description:
                                    "Estes cookies nos ajudam a entender como você usa nosso site, coletando informações de forma anônima para melhorar nossos serviços.",
                                linkedCategory: "analytics",
                            },
                            {
                                title: "Mais informações",
                                description:
                                    "Para qualquer dúvida sobre nossa política de cookies, por favor, entre em contato.",
                            },
                        ],
                    },
                },
            },
        },

        onConsent: function () {
            if (CookieConsent.acceptedCategory("analytics")) {
                window.gtag("consent", "update", {
                    analytics_storage: "granted",
                });
            }
        },
    });
</script>
