---
import GoToJoinWaitlist from "./GoToJoinWaitlist.astro";
import Logo from "./Logo.astro";

interface Props {
    onlyLogo?: boolean;
}

const { onlyLogo } = Astro.props;
---

<header
    class="fixed top-0 left-0 right-0 z-50 bg-background/70 backdrop-blur-md border-border"
>
    <nav
        class="w-full max-w-[1400px] mx-auto px-6 py-4 flex items-center justify-between"
    >
        <a href="/">
            <div class="flex items-center gap-2">
                <div
                    class="w-8 h-8 bg-gradient-primary rounded-md flex items-center justify-center glow-effect"
                >
                    <Logo className="w-10 h-10 text-white" />
                </div>
                <span class="text-xl font-bold text-foreground"
                    >Descompilado</span
                >
            </div>
        </a>
        {
            !onlyLogo && (
                <>
                    <div class="hidden md:flex items-center gap-8">
                        <a
                            href="#filosofia"
                            class="text-muted-foreground hover:text-foreground transition-colors"
                        >
                            Por que Construir?
                        </a>
                        <a
                            href="#como-funciona"
                            class="text-muted-foreground hover:text-foreground transition-colors"
                        >
                            Como Funciona
                        </a>
                        <a
                            href="#faq"
                            class="text-muted-foreground hover:text-foreground transition-colors"
                        >
                            FAQ
                        </a>
                    </div>

                    <div class="hidden xm:flex">
                        <GoToJoinWaitlist
                            position="header"
                            size="sm"
                            showIcon={false}
                        />
                    </div>
                </>
            )
        }
    </nav>
</header>
